body {
    margin: 0;
    height: 100vh;
    background-color: #2a1b40;
    color: #b95a90;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

h1 {
    font-weight: 500;
    letter-spacing: 20px;
    margin-right: -20px;
    filter: drop-shadow(0 0 3px #de5ca677);
}

#board {
    background-color: #211534;
    padding: 20px;
}

.board-grid {
    display: grid;
    width: 400px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
    margin: 20px auto;

}

.board-cell {
    outline: 1px solid #ffffff55;
    aspect-ratio: 1;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 100px;
}

.board-cell:hover {
    outline: 1px solid #ff79c577;
    background-color: #2d2042;
    filter: drop-shadow(0 0 3px #de5ca6);

}

.board-cell[data-played="true"], .board-cell[data-played="true"]:hover {
    background-color: #1e142d;
    outline: 1px solid #ffffff11;
    cursor: default;
    filter: none;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    max-width: 300px;
    margin: 20px auto;
}

.primary-btn {
    border: none;
    border-radius: 5px;
    background: #ffffff;
    color: #211534;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 25px;
    cursor: pointer;
    filter: drop-shadow(1px 1px 3px #33333377);
}

.primary-btn:hover {
    background-color: #f9d0e8;
    filter: drop-shadow(0 0 3px #de5ca6);
}

.settings-btn {
    background: #2a1b40;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: 5;
}

.settings-btn:hover {
    filter: drop-shadow(0 0 3px #de5ca6);
}

.settings-btn:hover img {
    filter: brightness(0.75) sepia(2) hue-rotate(300deg);
}

.modal, .modal-window {
    display: none;
}

.modal.active, .modal-settings.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1119;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.active .modal-window, .modal-settings.active .modal-window {
    display: block;
    background: #f7f7f7;
    padding: 60px;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 5px #000);
    margin-bottom: 25vh;
    position: relative;
}

.modal.active .modal-close-btn, .modal-settings.active .modal-close-btn {
    color: #555;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: none;
}

.modal-settings fieldset {
    border: none;
    display: flex;
    padding: 0;
}

.modal-settings fieldset legend {
    color: #2a1b40;
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 38px -4px;
}

.modal-settings fieldset .fieldset-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-settings fieldset label {
    display: block;
    text-align: left;
    margin-bottom: 7px;
}

.modal-settings fieldset input {
    padding: 10px 10px;
    border-radius: 10px;
    border-style: solid;
    width: 100%;
    margin: 0px -10px;
}

.modal-settings fieldset div:last-child {
    text-align: left;
}

.modal-settings fieldset button {
    background: #b95a90;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin: 10px 0 0 -8px;
    cursor: pointer;
}



