body {
    margin: 0;
    height: 100vh;
    background-color: #2a1b40;
    color: #b95a90;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

h1 {
    font-weight: 500;
    letter-spacing: 20px;
    margin-right: -20px;
    filter: drop-shadow(0 0 3px #de5ca677);
}

#board {
    background-color: #211534;
    padding: 20px;
}

.board-grid {
    display: grid;
    width: 400px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
    margin: 20px auto;

}

.board-cell {
    outline: 1px solid #ffffff55;
    aspect-ratio: 1;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 100px;
}

.board-cell:hover {
    outline: 1px solid #ff79c577;
    background-color: #2d2042;
    filter: drop-shadow(0 0 3px #de5ca6);

}

.board-cell[data-played="true"], .board-cell[data-played="true"]:hover {
    background-color: #1e142d;
    outline: 1px solid #ffffff11;
    cursor: default;
    filter: none;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 300px;
    margin: 20px auto;
}

.primary-btn {
    border: none;
    border-radius: 5px;
    background: #ffffff;
    color: #211534;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 25px;
    cursor: pointer;
    filter: drop-shadow(1px 1px 3px #33333377);
}

.primary-btn:hover {
    background-color: #f9d0e8;
    filter: drop-shadow(0 0 3px #de5ca6);

}

.modal, .modal-window {
    display: none;
}

.modal.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1119;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.active .modal-window {
    display: block;
    background: #f7f7f7;
    padding: 60px;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 5px #000);
    margin-bottom: 25vh;
    position: relative;
}

.modal.active .modal-close-btn {
    color: #555;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size:30px;
    font-weight: 500;
    border: none;
    background: none;
}

